@font-face {
  font-family: 'Tahoma';
  src: url('../fonts/Tahoma.ttf') format("truetype");
}

@font-face {
  font-family: 'Tahoma-bold';
  font-weight: bold;
  src: url('../fonts/Tahoma.ttf') format("truetype");
}

@font-face {
  font-family: 'arial-black';
  font-weight: bold;
  src: url('../fonts/arial-black/Arial Black.ttf') format("truetype");
}