@font-face {
  font-family: 'Tahoma';
  src: url('../fonts/Tahoma.ttf') format("truetype");
}

@font-face {
  font-family: 'Tahoma-bold';
  font-weight: bold;
  src: url('../fonts/Tahoma.ttf') format("truetype");
}
@font-face {
  font-family: 'Times-New-Roman';
  font-weight: bold;
  src: url('../fonts/Times New Roman PS.ttf') format("truetype");
}